// Breakpoints
$breakpoint-xs: 364px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1400px;

// Mixins for media queries
@mixin media-xs {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin media-sm {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin media-md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin media-lg {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin media-xl {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin media-xxl {
  @media (max-width: $breakpoint-xxl) {
    @content;
  }
}
$accent-color: #ff7654;
