
.image-carousel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  height: 100%;
  width: fit-content;
  min-width: 100px;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
}

.carousel-item-my {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;

  img {
    max-width: 100px;
    border-radius: 5px;
  }

  img.selected {
    border: 2px solid rgba(0, 0, 0, 0.55);
    border-radius: 5px;
  }

  .delete-icon {
    position: absolute;
    top: -2px;
    right: -2px;
    font-size: 19px;
    background: transparent;
    border: 0;
    color: red;
    cursor: pointer;
    z-index: 10;

    &:hover {
      color: darkred;
    }
  }
}

.main-image-container {
  position: relative; /* Для правильного позиционирования кнопок */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.33);
  overflow: hidden; /* Убираем выход кнопок за границы */
}





@media (max-width: 1024px) {
  .image-carousel {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .carousel-item-my img {
    max-height: 100px;
  }
}