<div class="page-shell">
  <div class="background-texture"></div>
  <div class="header-container">
    <div class="header-wrapper">
      <app-header></app-header>
    </div>
  </div>

  <main class="main-container">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer" *ngIf="!isAdminPage">
    <div class="footer-wrapper">
      <div class="footer__brand">
        <p class="eyebrow">{{ 'footer.brand.eyebrow' | translate }}</p>
        <h3>{{ 'footer.brand.title' | translate }}</h3>
        <p>{{ 'footer.brand.subtitle' | translate }}</p>
      </div>
      <div class="footer__grid">
        <div class="footer__section" [class.is-open]="openFooterSections['collections']">
          <h4 (click)="toggleFooterSection('collections')">
            {{ 'footer.collections.title' | translate }}
            <span class="footer__toggle-icon"></span>
          </h4>
          <ul class="footer__list">
            <li><a href="#collections">{{ 'footer.collections.all' | translate }}</a></li>
            <li><a href="#new-drop">{{ 'footer.collections.new' | translate }}</a></li>
            <li><a href="#editorial">{{ 'footer.collections.stories' | translate }}</a></li>
          </ul>
        </div>
        <div class="footer__section" [class.is-open]="openFooterSections['service']">
          <h4 (click)="toggleFooterSection('service')">
            {{ 'footer.service.title' | translate }}
            <span class="footer__toggle-icon"></span>
          </h4>
          <ul class="footer__list">
            <li><a href="#">{{ 'footer.service.personal_shopping' | translate }}</a></li>
            <li><a href="#">{{ 'footer.service.worldwide_delivery' | translate }}</a></li>
            <li><a href="#">{{ 'footer.service.product_care' | translate }}</a></li>
            <li><a href="#">{{ 'footer.service.returns' | translate }}</a></li>
          </ul>
        </div>
        <div class="footer__section" [class.is-open]="openFooterSections['contacts']">
          <h4 (click)="toggleFooterSection('contacts')">
            {{ 'footer.contacts.title' | translate }}
            <span class="footer__toggle-icon"></span>
          </h4>
          <ul class="footer__list footer__contacts">
            <li>{{ 'footer.contacts.phone' | translate }}</li>
            <li>{{ 'footer.contacts.email' | translate }}</li>
            <li>{{ 'footer.contacts.address' | translate }}</li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom">
        <span>{{ 'footer.copyright' | translate:{ currentYear: currentYear } }}</span>
        <div class="footer__socials">
          <a href="#" [attr.aria-label]="'footer.socials.instagram' | translate">{{ 'footer.socials.instagram' | translate }}</a>
          <a href="#" [attr.aria-label]="'footer.socials.pinterest' | translate">{{ 'footer.socials.pinterest' | translate }}</a>
          <a href="#" [attr.aria-label]="'footer.socials.telegram' | translate">{{ 'footer.socials.telegram' | translate }}</a>
        </div>
      </div>
    </div>
  </footer>

  <app-mobile-bottom-menu></app-mobile-bottom-menu>
</div>
